
TheIsleLegacy.cs/.vs/ProjectSettings.json
TheIsleLegacy.cs/.vs/slnx.sqlite
TheIsleLegacy.cs/.vs/TheIsle.cs/FileContentIndex/b1927e80-b97f-40b1-add9-5279c13e4b09.vsidx
TheIsleLegacy.cs/.vs/TheIsle.cs/FileContentIndex/read.lock
TheIsleLegacy.cs/.vs/TheIsle.cs/v17/.wsuo
TheIsleLegacy.cs/.vs/VSWorkspaceState.json
TheIsleLegacy.cs/.vs/TheIsleLegacy.cs/v17/.wsuo
TheIsleLegacy.cs/.vs/TheIsleLegacy.cs/FileContentIndex/fc58ac06-5d76-4bb0-acb8-1745c60d24ce.vsidx
TheIsleLegacy.cs/.vs/TheIsleLegacy.cs/FileContentIndex/d9603e5a-9a4e-4e3f-8784-e3f22f23eb9b.vsidx
*.vsidx
*.lock
