
TheIsleLegacy.cs/.vs/ProjectSettings.json
TheIsleLegacy.cs/.vs/slnx.sqlite
TheIsleLegacy.cs/.vs/TheIsle.cs/FileContentIndex/b1927e80-b97f-40b1-add9-5279c13e4b09.vsidx
TheIsleLegacy.cs/.vs/TheIsle.cs/FileContentIndex/read.lock
TheIsleLegacy.cs/.vs/TheIsle.cs/v17/.wsuo
TheIsleLegacy.cs/.vs/VSWorkspaceState.json
